# Environment Variables & Keys
.env

# Application Caches & Cloned Repositories
.cache/
.temp_repos/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual Environments
venv/
.venv/
env/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
